label {
  color: #666;
  font-size: 14px;
  font-weight: 600;
}
.tool--image {
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.edit--btn {
  opacity: 0;
  pointer-events: none;
}
.tool--card {
  &:hover {
    .edit--btn {
      transition: 300ms;
      opacity: 1;
      pointer-events: all;
    }
  }
}

/* width */
.link--menu::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.link--menu::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Handle */
.link--menu::-webkit-scrollbar-thumb {
  background: #cacaca;
  border-radius: 8px;
  border-radius: 8px;
}

/* Handle on hover */
.link--menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}
