label {
  color: #666;
  font-size: 14px;
  font-weight: 600;
}
.tool--image {
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.edit--btn {
  opacity: 0;
  pointer-events: none;
}
.tool--card {
  &:hover {
    .edit--btn {
      transition: 300ms;
      opacity: 1;
      pointer-events: all;
    }
  }
}
